#ml_simple_seo_title {
padding: 3px 8px;
font-size: 1.4em;
line-height: 100%;
width: 100%;
outline: 0;
}

#ml_simple_seo_description{
padding: 3px 8px;
font-size: 1.2em;
line-height: 100%;
width: 100%;
outline: 0;
}

.ml_simple_seo_hr{
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ml_simple_seo_p{
font-size: 1.4em;
}